.background {
	height: 100vh;
	transition: 1s ease-in-out;
}

.content {
	height: 100vh;
	left: 100px;
  top: 0px;
	position: absolute;
}

.footerButton {
	height: 30px;
	width: 125px;
	padding: 2px 25px;
	border-radius: 1000px;
	background: rgba(0, 255, 255, 0.08);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar {
	height: 100vh;
}

.sliderWrapper {
	padding-right: 25px;
	display: flex;
}

.themeItem {
	background-size: cover;
	background-position: center;
}

.towerIcon {
	background-size: 0px, 0px;
}

.towerIcon:hover {
	background: linear-gradient(transparent 50%, lightcyan 50%) !important;
}

.towerItem {
	padding-right: 25px;
	display: flex;
	justify-content: center;
}